@use "../../styles/mixins" as m;
@use "../../styles/variables" as v;


.header{

  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: transparent;
  overflow: hidden;
background: var(--System-Colors-System-Light, #FFF);
box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);

@include m.desktop{
  padding: 15px 0;
box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);

}


}
.header_items{
  display: flex;
  justify-content: space-between;
/* centrowanie kontenera */
    align-items: center;

 
  padding: 30px 15px;
  @include m.desktop{
    padding: 10px 20px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

  }
  // @media only screen and (min-width:992px)  {
  //       padding: 10px 20px;
  //   margin: 0 auto;

  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   width: 100%;
  // }

}

.nav{

  position: fixed;
  left: 0;
  top:0%;
  transform: translateY(-100%);
  width: 100%;
  padding: 0px  0 40px 0;
background: var(--System-Colors-System-Light, #FFF);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all ease-in-out 0.5s;
  overflow: hidden;
 opacity: 0;
  @include m.desktop{
    position: unset;
    transform: translateY(0);
    background: none;
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    width: auto;
    padding: 0;
    opacity: 1;
  }
  @include m.tablet  {

  }
}

.open {
  transform: translateY(20%);
  opacity: 1;
}
.open{
.nav_item {
  opacity: 1;

}
}
.nav_item{
  opacity: 0;
  font-size:1em;
  color: var(--Fonts-Dark);
  text-decoration: none;
  font-weight: 400;
  margin: 16px 0;
  cursor: pointer;
  @include m.desktop{
    margin: 0 16px ;
    opacity: 1;

  }
  @include m.tablet{
      opacity: 0;
        margin: 16px 0;
  }

}





.desktop {
  display: none;
  @include m.desktop{
  display: flex;
  flex-direction: row;
  gap: 16px;

  }
  @include m.tablet{
    display: none;
  }

}

.mobile {
    display: flex;
  flex-direction: column;
  gap: 16px;
  @include m.desktop{
  display: none;

  }
  @include m.tablet{

  }
}


.hamburger {
  cursor: pointer;
  display: block;
  z-index: 1001;
  @include m.desktop {
    display: none;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin:4px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background:var(--Primary-Default);
    border-radius:32px ;
    z-index: 1000;
  }
  &.open .bar:nth-child(2) {
    opacity: 0;
  }
  &.open .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  &.open .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
}

.active {
  position: relative;
 
}
.active::before{
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  border-radius: 50px;
  background-color: #ffff;
   animation: fadeIn 2s forwards;
   bottom: -5px;
}
@keyframes fadeIn {
  from {
    width: 0;
  }
  to {
   width: 100%;
  }
}