.popup {
  position: fixed; /* zmiana z absolute na fixed */
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%); /* centrowanie */
  background-color: var(--System-Colors-BG);
  border: 1px solid #d8d8d8;
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);

  padding: 16px;
  z-index: 1000; /* upewnij się, że jest nad innymi elementami */
 
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup_arival{
  left: 0;
}
.popup_decapture{

}

.datepicker{
      z-index: 1001; 
}