@use "../../styles/_variables.scss" as v;
.small{
  font-size: 12px;

  padding: 7px 16px;
}
.medium{
  font-size: 14px;

  padding: 9px 16px;
}
.large{
  font-size: 16px;
  
  padding:  10px 20px ; 
}
.a{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight:  500;
  font-family: Inter,sans-serif;

  border: none;
  box-shadow: 0 6px 20px rgba(0,0,0,0.25);
  transition: background-color ease-in-out 0.3s;
  line-height: 150%;
}
.primary{
  background-color: var(--Primary-Default);
  color: var(  --Fonts-Light);
  &:hover{
    background-color: var(--Primary-Disabled);
  }
}

.white{
    background-color: var(--Fonts-Light);
  color: var(  --Fonts-Dark);
  &:hover{
    background-color: var(--Primary-Disabled);
  }
}

.rounded{
  border-radius: 50px;
}
.a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;

  cursor: pointer;
  
}
.img{
  margin-left: 8px;
}