@use "styles/_mixins.scss" as m;
@use "styles/_variables.scss" as v;
.contact{
 
    padding: 16px 0;

        color: v.$primary-text-color;
    @include m.desktop{
    padding: 48px 96px;
    margin-top: 40px;
    }
    
}
