
@font-face {
  font-family: 'OpenDyslexic';
  src: url('./fonts/OpenDyslexic-Regular.woff2') format('woff2'),
       url('./fonts/OpenDyslexic-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body.strong-contrast {


  --Primary-Default-Slide:#000;
  --Fonts-Light: #000;
  --Fonts-Paragraph: yellow;
  --Fonts-Dark: #000;
  --Primary-Default: yellow;
  --System-Colors-System-Light: yellow;
  --System-Colors-System-Dark: yellow;
  
  --System-Colors-BG: #000;
  --Fonts-Grey:#5E5E5E;
  --Primary-Disabled:grey;
--Calendar-BG:#000;
}


.help-line-cursor::before {
  content: '';
  position: fixed;
top: var(--mouse-y, 0);
  left: var(--mouse-x, 0);
  width: 500px;
  height: 10px; /* Wysokość linii */
  background: url('./Icons/help_line.png') center/100% 100% no-repeat;
  pointer-events: none;
  z-index: 9999;
}


body.help-mask::before{
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100vh;
}
.help-mask::after {
  content: '';
  position: fixed;
top: var(--mouse-y, 0);
  left: 0;
  height: 100px;
  width: 100%;
  background: transparent;
  pointer-events: none;
  z-index: 1000000000;
  backdrop-filter: brightness(200%) 
}




body{
  transition: initial;
}
body.no-animations *,
body.no-animations *::before,
body.no-animations *::after {
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0.01ms !important;
  scroll-behavior: auto !important;
    opacity: 1 !important;
}

/* Specjalnie dla framer-motion */
body.no-animations [style*="transform"],
body.no-animations [style*="animation"],
body.no-animations [style*="transition"] {
  transform: none !important;
  animation: none !important;
  transition: none !important;
  opacity: 1 !important;
}


body.big_black_cursor * {
  cursor: url("./Icons/Vector_1.svg") 0 0, auto !important;
}

body.big_white_cursor * {
  cursor: url("./Icons/Vector_2.svg") 0 0, auto !important;
}

body {
  font-family: var(--app-font-family)  !important;
  font-size: var(--font-size) !important;
  line-height: var(--line-height) !important;
  letter-spacing: var(--letter-spacing) !important;
  word-spacing: var(--word-space) !important;
  transition: var(--animation) !important;
  text-align: var(--app-text-align) !important;
  background-color: var(--System-Colors-BG) !important;
      
}
// D:\Praca\Strony\GALICA\GALICA-SZABLON-STRONY-1\galica-szablon-strony-1\components\AAA_button\Icons\
//  var(--Cursor)!important;
body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 100000000;
  pointer-events: none;
  background: rgba(255,255,255,0); // musi być "coś"
    backdrop-filter: var(--app-filter) !important;
         cursor:url("./Icons/black_cursor_icon.svg") 0 0  auto, !important;
      // cursor:url("./Icons/big_white_cursor.svg") 0 0 ,auto !important;
}
h1,h2,h3,h4,h5,h6,span,li{
  line-height: var(--line-height) !important;
}
p {
   margin-top: var(--paragraph-space) !important;
  margin-bottom: var(--paragraph-space) !important;
    line-height: var(--line-height) !important;
}
h4{
     margin-top: var(--paragraph-space) !important;
  margin-bottom: var(--paragraph-space) !important;
    line-height: var(--line-height) !important;
}

li{
       margin-top: var(--paragraph-space) !important;
  margin-bottom: var(--paragraph-space) !important;
}