@use "../../styles/mixins" as m;

.button{
    display: flex;
padding: 10px;
align-items: center;
gap: 4px;
border-radius: 200px;
border: 2px solid var(--Fonts-Dark) ;
background: transparent;
color: var(--Fonts-Dark) ;
font-size: 14px;
}

.svg{
    fill: var(--Fonts-Dark);
        width: 20px;
    height: 20px;
}