.hero{
    width: 100%;
    height: 80svh;
    background-image: url("/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
}
.hero_contaienr{
    z-index: 0;
    position: relative;
      height: 80svh;
}