@use "styles/_mixins.scss" as m;

.hero{

    width: 100%;
    margin-bottom: 32px;
    height:calc(100svh - 110px);
      z-index: 0;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
    background-image: url("/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 110px;
           &::before {
    content: "";

    position: absolute;
    inset: 0; 
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
    top:0;
    left: 0;
          height: calc(100svh - 110px);
              padding-top: 110px;
          @include m.desktop{
           height: calc(100svh - 110px);
          }
  }
text-align: center;
  @include m.desktop{
  height: calc(100svh - 110px);
    margin-bottom: 0;
  }
  
}
.hero_container{
    z-index: 2;
    position: relative;
      height: 80svh;
      display: flex;
  align-items: center;
  justify-content: center;
  color: var(  --Fonts-Light);
 
}