@use "../../styles/mixins" as m;
@use"../../styles/variables" as v;


.footer {
  background-color: v.$secondary;
  padding: 60px  0;
  margin-top: 16px;
  @include m.desktop{
    margin-top: 128px;
  }
}


.logo{
  display: block;
  font-size:24px;
  color:#fff;
  text-decoration: none;
  font-weight: 500;
  z-index: 10000;
  line-height: 60px;
  margin-bottom: 32px;

}
.footer_navi {
  display: grid;
  gap: 32px;
  color: #fff;
  font-weight: 300;

  padding-bottom: 60px;
  grid-template-columns: repeat(1, 1fr); // mobile
  grid-auto-rows: min-content; // wysokość wiersza dopasowana do zawartości
  align-items: start;
  @include m.tablet{

  }
 @include m.desktop{

    grid-template-columns: repeat(5, 1fr);
  }
}

.footer_col {
  display: flex;
  flex-direction: column;

  gap: 16px;
  height: auto;

  @include m.desktop{

  }
  .link{
    display:inline-block;
        align-self: flex-start;
    font-size: 16px;          
        line-height: 150%;
     color: #fff;
        text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
        &:focus-visible {
      outline: 2px solid  #fff;   // ✅ wyraźna ramka
      outline-offset: 4px;       // ✅ odstęp od tekstu
      border-radius: 4px;
    }
  }
}
.copy_container {
  margin: 0 auto;
  text-align: center;
  padding: 60px 0 60px;
  border-top: #fff 1px solid;
  p{
    font-size:14px;
     color: #fff;
  }

}