@use "../../styles/mixins" as m;
@use"../../styles/variables" as v;


.footer {
  background-color: var(--Primary-Default);
  padding: 60px  0 0 0;


}




.footer_navi {
  margin-top: 16px;
  display: grid;
  gap: 32px;
 color: var(   --Fonts-Light);
  font-weight: 300;
  padding-bottom: 60px;
  grid-template-columns: repeat(1, 1fr); // mobile
  grid-auto-rows: min-content; // wysokość wiersza dopasowana do zawartości
  align-items: start;
  @include m.tablet{

    grid-template-columns: repeat(5, 1fr);
  }
 @include m.desktop{

    grid-template-columns: repeat(7, 1fr);
  }
}

.footer_col {
  display: flex;
  flex-direction: column;
    align-self: flex-start;
  gap: 16px;
  height: auto;

  @include m.desktop{

  }
  .link{
    display:inline-block;
    align-self: flex-start;
               text-align: var(--app-text-align,left);
    font-size: 16px;          
        line-height: 150%;
 color: var(   --Fonts-Light);
        text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
        &:focus-visible {
      outline: 2px solid  #fff;   // ✅ wyraźna ramka
      outline-offset: 4px;       // ✅ odstęp od tekstu
      border-radius: 4px;
    }
  }
}
.copy_container {
  margin: 0 auto;
  text-align: center;
  padding: 60px 0 60px;
  border-top:  var(   --Fonts-Light) 1px solid;
  p{
    font-size:14px;
 color: var(   --Fonts-Light);
  }

}