@use "styles/_mixins.scss" as m;
@use "styles/_variables.scss" as v;
.aboutUs{
    background-color: v.$primary;
    padding: 48px 0;

        color: v.$primary-text-color;
    @include m.desktop{
    padding: 48px 96px;
    margin-top: 80px;
    }
    
}
