
$primary-text-color:#000;
$secondary-text-color:#fff;

$primary:#ffffff;
$primary-light: #4a4d50;

$primary-button-text :#1B53A5;

$secondary:#1B53A5;
$secondary-light: #366fc4d4;
$secondary-button-text :#fff;