@use "styles/_mixins.scss" as m;
@use "styles/_variables.scss" as v;
.attractions{
    background-color:var(--Primary-Default) ;
box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 32px;
    color: var( --Fonts-Light);
    @include m.desktop{
    padding: 48px 0;
        margin: 78px 0;
    }
    
}
