@use "styles/_mixins.scss" as m;
@use "styles/_variables.scss" as v;
.attractions{
    background-color:v.$secondary ;
    padding: 48px 0;

    color: v.$secondary-text-color;
    @include m.desktop{
    padding: 48px 96px;
    margin-top: 80px;
    }
    
}
